*{
	font-family: Arial, Helvetica, sans-serif;
}
body {
	margin: 0;
	padding: 0;
	background-color: #7b5769;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
i{
	color: #f9f9f9;
	size: 20px;
}

header {
	display: flex;
	align-items: center;
	background-color: #333;
	height: 50px;
	padding: 0 20px;
}

.logo {
	
    position: absolute;
    top: -15px;
    left: 10px;
    font-size: 25px;
    color: #f9f9f9;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
    position: absolute;
    left: 70px;
    top: 15px;
}

nav li {
	margin-right: 20px;
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: #FFF;
	text-decoration: none;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown-content {
	display: none;
	position: absolute;
    top: 0%;
    width: 125px;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

nav a:hover {
	color: #7b5769;
}


.dropdown-content a {
    display: block;
    color: #333;
	padding: 12px 16px;
	text-decoration: none;
}



main {
	padding: 50px;
	text-align: center;
}

.max-name {
	font-size: 60px;
	color: #FFF;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 2px 2px 4px #000000;
    position: absolute;
    top: 10px;
    left: 85px;
}

footer {
	background-color: #333;
	color: #FFF;
	text-align: center;
	padding: 20px;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.max-photo{
    width: 420px;
    height: 500px;
}
.photo-border{
    border: #333;
    border-style: solid;
    width: 420px;
    height: 500px;
}
.max-container{
    width: 700px;
    height: 500px;
    position: relative;
    top: -20px;
    text-align: center;
}

footer p {
	margin: 0;
	font-size: 14px;
}


.resume-body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
	color: #333;
}

.resume {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	background-color: #fff;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 500px;
    left: 25%;
}

.resume img {
	width: 80%;
	max-width: 800px;
	margin-bottom: 30px;
}

.resume button {
	padding: 10px 20px;
	font-size: 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.resume button:hover {
	background-color: #7b5769;
}

  .git{
	position: relative;
	left: 20px;
	
  }

  	.Iam{
		
		font-family: Arial, Helvetica, sans-serif;
		color: #f9f9f9;
		position: absolute;
		left: 600px;
		top: 90px;
	}
  .container {
	display: flex;
	position: absolute;
	left: 600px;
	top: 150px;
	justify-content: left;
	align-items:left;
	vertical-align: top;
	height: 100vh;
  }
  
  .slider {
	width: 400px;
	height: 100px;
	display: flex;
	justify-content: left;
	align-items: left;
	overflow:visible;
  }
  
  .text {
	font-size: 3em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #f9f9f9;
  }
  
  .slide-in {
	animation: slide-in 2s forwards;
  }
  
  .slide-out {
	animation: slide-out 2s forwards;
  }
  
  @keyframes slide-in {
	from {
	  transform: translateX(-50%);
	}
	to {
	  transform: translateX(0);
	}
  }
  
  @keyframes slide-out {
	from {
	  transform: translateX(0);
	}
	to {
	  transform: translateX(50%);
	}
  }
  